.about {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 50px 70px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(182, 174, 174));
}

.about img {
  float: left;
  padding-right: 50px;
  width: 400px;
  height: 400px;
}

.about_content p {
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
}

@media screen and (max-width: 720px) {
  .about img {
    align-self: center;
    width: 45%;
    height: auto;
    padding: 15px 0;
    opacity: 1;
  }

  h2 {
    text-align: center;
    font-size: 24px;
    padding: 0 20px;
    color: rgb(19, 228, 141);
  }

  .about_content p {
    grid-column: 1;
    font-size: 18px;
    text-align: center;
    margin: 16px 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px 50px;
    z-index: 1;
  }

  .about hr {
    margin: 10px auto;
    width: 75px;
    text-align: center;
    border: 1px solid darkgray;
  }
}
