.products {
  padding: 2rem 1em;
}

.products hr {
  width: 25%;
  margin: 10px auto;
  text-align: center;
  border: 1px solid darkgray;
}

.products-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.product-filters {
  padding: 10px;
  background-color: red;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .products-container {
    display: flex;
    flex-direction: column;
  }
}

.container {
}
