.container {
  justify-content: center;
  background-color: #e2e2e2;
  padding: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  justify-content: center;
}

.product-item-container {
  padding: 20px;
  background-color: aqua;
}

.product-item {
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 10px;
  box-shadow: 0.3px 0.3px #888888;
}

.product-item img {
  width: 284px;
  height: 284px;
}

.product-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
}

.product-category {
  color: #222;
  font-size: 14px;
}

.product-price {
  font-weight: 500;
}

@media screen and (max-width: 960px) {
  .product-list {
    display: block;
    justify-content: center;
  }
}
