.products{
  padding: 2rem 1em;
}
.products h2{
  text-align: center;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(19, 228, 141);
  margin-bottom: 1rem;
}

.products hr{
  width: 25%;
  margin: 10px auto;
  text-align: center;
  border: 1px solid darkgray;
}

@media screen and (min-width: 720px){
  .product-list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
  }
}
