<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento</title>

    <link rel="stylesheet" href='{{ url_for("static", filename="css/style.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/gerenciamento.css") }}'>

    <script src="https://kit.fontawesome.com/259ef15be0.js" crossorigin="anonymous"></script>

</head>
<body>

    <div class="navbar">
        <div class="navbar-container">
            <a href='{{ url_for("home") }}' id="logo">
                <i class="fa-solid fa-music">  Like a Mozart</i>
            </a>
            <div class="navbar_toogle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href='{{ url_for("home") }}' class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                    <a href='{{ url_for("about") }}' class="navbar__links">About us</a>
                </li>
                <li class="navbar__item">
                    <a href='{{ url_for("products") }}' class="navbar__links">Produtos</a>
                </li>
                <li class="navbar__btn">
                    <a href='{{ url_for("login") }}' class="button">Login</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="input-products">
        <h3>Preencha as informações para cadastrar um produto</h3>
        <form action='{{ url_for("gerenciamento_add")}}' method="post">
            <h2>Nome do instrumento:</h2>
            <input type="text" id="firstnameADD" name="fnameADD" placeholder="Nome do instrumento" required>
            <h2>Tipo do instrumento:</h2>
            <select name="typeADD" class="typeADD" title="typeADD">
                <option value="Nothing" selected disabled hidden>Escolha um tipo para o produto</option>
                <option value="Cordas">Cordas</option>
                <option value="Sopro">Sopro</option>
                <option value="Percussão">Percussão</option>                       
            </select>
            <h2>Valor do instrumento:</h2>
            <input type="number" id="valueADD" name="valueADD" placeholder="Valor do instrumento" required>
            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <hr>

    <div class="remove-products">
        <h3>Selecione um produto para remover</h3>
        <form action='{{ url_for("gerenciamento_remove") }}' method="post">
            <h2>Selecione o produto que deseja deletar</h2>
            <select name="productsList" class="products_list" title="products_list">
                <option value="Nothing" selected disabled hidden>Escolha um produto</option>
                {% for dictionary in content %}
                <option value="{{ content[dictionary]['Nome'] }}" >{{ content[dictionary]['Nome'] }}</option>
                {% endfor %}                                             
            </select>
            <button type="submit">Confirmar</button>
        </form>
    </div>

    <script src='{{ url_for("static", filename="js/app.js") }}'></script>
    
</body>


<footer>
    <div class="container">
        <p>&copy;Like a Mozart</p>
      </div>
</footer>

</html>